*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aboreto', cursive;
}

:root{
    --bgColor: #104f55;
}




a{
    text-decoration: none;
    color: black;
}

.mtb-40{
    margin-top: 40px;
    margin-bottom: 40px;
}

.mb-30{
    margin-bottom: 30px;
}



li{
    list-style-type: none;
}

.fa-brands{
    font-size: 24px;
}

.fa-youtube,.fa-instagram{
    color: red;
}
.fa-square-twitter{
    color: darkturquoise;
}

.main-heading{
    text-align: center;
    margin: 25px;
}


.nav{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 30px;
    max-height: 50px;
    /* border: 1px solid palevioletred; */

}
.toggle-btn{
    position: absolute;
    right: 30px;
    top: 15px;
    display: none;
}

.collapse{
    max-height: 600px;
}

.nav-brand{
    font-size: 24px;
    font-weight: bolder;
}


.nav-item{
    display: flex;
    align-items: center;
}

.nav-link{
    /* border: 1px solid red; */
    padding: 20px 20px;
    font-size: 14px;
    font-weight: bold;
}

.nav-link:hover{
    background: var(--bgColor);
}

.nav-link:hover a{
    color: white;
}

.icon{
    padding: 15px 10px;
}
.icon:hover{
    color: white;
    background: var(--bgColor); 
}

.text-smd{
    padding: 1px 7px;
    display: none;
}
.fa-bars{
    font-size: 25px;
}

.main-text{
    padding: 30px;
    align-self: center;
}

.single-head{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.main-image{
    margin-top: 20px;
    border: 10px solid var(--bgColor);
    height: 80vh;
    width: 100%;
}
.img-style{
    padding: 20px 30px;
}






.main-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 30px;
    gap: 30px;
    
    
}
.blog-heading{
    text-align: center;
    margin: 10px auto;
    font-size: 24px;
}

.pararaph{
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    word-spacing: 3px;
    text-align: center;
    height: 80px;
    overflow: hidden;
    
}
.blog-text{
    padding: 10px;
}



.blogs{
    box-shadow: 0  0 20px rgb(0,0,0, .2);
}
.b-image{
    width: 100%;
    height: 280px;
}

.blog-button{
    background: hsla(185, 68%, 20%, 1);
    display:flex;
    margin:10px auto;
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    transition: all .4s ease-in-out;  
    color: white;     
}

.single-text{
    line-height: 25px;
    word-spacing: 3px;
    height: 320px;
    overflow: hidden;
}

.single-button{
    background: var(--bgColor);
    display:flex;
    margin:10px auto;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: all .4s ease-in-out;  
    color: white;
    margin-top: 30px;  
}

.single-button:hover{
    font-size: 20px;
}



.blog-button:hover{
    font-size: 16px;
}


.fa-arrow-right{
    margin-left: 10px;
}

.main-post{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 30px;
}



.main-image{
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer{
    padding: 40px 30px;
    background: var(--bgColor);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-item{
    /* border: 1px solid red; */
    color: white;
    padding: 10px 10px;
}

.email-input{
    padding: 10px;
    background: black;
    outline: none;
    border: 2px solid white;
    color: white;
}
.email-btn{
    color: white;
    background: black;
    height: 40px;
    padding: 10px 10px;
    border: 2px solid white;
}

.insta-post{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 3px;
    border: 3px solid white;
  }

  .w-icon{
      color: white;
      padding: 1px 10px;
  }







@media (max-width: 768px){
    .nav-brand{
        margin: 15px 0px;
    }
    .nav,  .nav-item,.icon{
        display: block;
    }
    .main-section{
        grid-template-columns: 1fr 1fr;
    }
    .text-smd{
        display: inline;
    }
  
    .icon{
        padding: 15px 10px;
    }
    .toggle-btn{
        display: initial;
        background: transparent;
        border: none;
    }
    .main-post{
        grid-template-columns: 1fr;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
    }


  
}


@media (max-width: 600px){
    .main-section, .footer{
        grid-template-columns: 1fr;
    }
}